.header {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  font-size: 2rem;
}

.header_nav {
  margin: 0 8rem 0 auto;

  display: flex;
  gap: 4rem;
}

.header_logo {
  height: 15rem;
  margin-left: -2rem;
}
