.header_desktop {
  display: flex;
  align-items: center;
  padding: 1rem 8rem;
  font-size: 2rem;
}

.header_mobile {
  display: none;
}

.header_nav {
  margin: 0 0 0 auto;
  position: relative;
  display: flex;
  gap: 4rem;
  align-items: center;
}

.header_logo {
  height: 15rem;
  margin-left: -2rem;
}

.header_mobile {
  display: none;
}

@media (max-width: 56.25em) {
  .header_desktop {
    display: none;
  }
  .header_mobile {
    display: block;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_mobile .header_logo {
    height: 5rem;
  }
  .header_mobile--open_nav,
  .header_mobile--close_nav {
    height: 5rem;
    width: 5rem;
  }

  .header_nav--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 2.4rem;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    justify-content: center;
  }
}
